<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3rZa2TQiZq5x7Za2skngzNFirX0Jj1Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>366602731830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samarthpath</string>
	<key>PROJECT_ID</key>
	<string>samarth-path-a39c4</string>
	<key>STORAGE_BUCKET</key>
	<string>samarth-path-a39c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366602731830:ios:b796caace01621432cf397</string>
</dict>
</plist>